<main id="aboutMain">
    <div id="profileImage">
        <img src="../../assets/gj.jpg" alt="Profile image" />
    </div>
    <div id="biography">
        <h1>About me</h1>
        <p>Yassine Dahhani</p>
        <h2><i class="fas fa-envelope mail-icon"></i> Gmail: <a class="aboutInfo" href="mailto:yassine@gmail.com">yassine&commat;gmail.com</a></h2>
        <h2><i class="fab fa-github github-icon"></i> Github: <a class="aboutInfo" href="https://github.com/YASSINEDAHHANI" target="_blank">github.com/YASSINEDAHHANI</a></h2>
        <h2><i class="fab fa-facebook-square facebook-icon"></i> Facebook: <a class="aboutInfo" href="https://www.facebook.com" target="_blank">YASSINEDAHHANI</a></h2>
        <h2><i class="fab fa-linkedin linkedin-icon"></i> LinkedIn: <a class="aboutInfo" href="https://www.linkedin.com" target="_blank">YASSINEDAHHANI</a></h2>
    </div>
</main>