<!-- order.component.html -->
<div class="order-container" *ngFor="let order of this.orders">
  <h2>Order Details</h2>
  <p>Order ID: {{ order.id }}</p>
  <p>Order Number: {{ order.orderNumber }}</p>
  <p>Total Price: {{ order.totalPrice | currency }}</p>

  <h3>Mangas in this Order</h3>
  <ul>
    <li *ngFor="let manga of order.mangaList">
      <span class="manga-title">{{ manga.title }}</span> - <span class="manga-price">{{ manga.price | currency }}</span>
    </li>
  </ul>
</div>

<div *ngIf="!this.orders" class="loading">
  <p>Loading order details...</p>
</div>
