
	<main id="contactMain">
		<h1>Contact</h1>
		<div id="contactWrapper" >
			<div id="info" class="contactSection">
				<h2>Info</h2>
				<div id="workTime">
					<h3>Work time</h3>
					<p><span>Mon-Fri</span> 08:00-20:00 <span>Sat</span> 08:00-16:00</p>
				</div>
				<div id="contactInfo">
					<h3>Phone number: <span>061-1122334</span> </h3>
					<h3>Email: <span>yassinegmail.com</span></h3> 
					<h3>Facebook: <a href="https://www.facebook.com" target="_blank" class="contactSocial">www.facebook.com</a></h3> 
					<h3>Twitter: <a href="https://www.twitter.com" target="_blank" class="contactSocial">www.twitter.com</a> </h3> 
					<h3>Instagram: <a href="https://www.instagram.com" target="_blank" class="contactSocial">www.instagram.com</a></h3>
				</div>
				<div id="location">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13209.527172658898!2d-7.6301384!3d33.5926449!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d38340b29049%3A0xde05d3824336cfc4!2sEmsi%20Moulay%20Youssef!5e0!3m2!1sen!2s!4v1642630861835" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>
			<div id="customerShopReview" class="contactSection">
				<h2>Tell us about your experience with us</h2>
				<form>
					<input type="text" placeholder="First name" />
					<input type="text" placeholder="Last name" />
					<input type="email" placeholder="Email" />
					<input type="text" placeholder="Subject" />
					<textarea placeholder="Type your message here..."></textarea>
					<input type="submit" value="Send" />
				</form>
			</div>
			
		</div>
	</main>